<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringField</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>net.springfield.upload.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>net.springfield.upload.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSingle</display-name>
    <servlet-name>UploadSingle</servlet-name>
    <servlet-class>net.springfield.upload.UploadSingle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSingle</servlet-name>
    <url-pattern>/UploadSingle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadMultiple</display-name>
    <servlet-name>UploadMultiple</servlet-name>
    <servlet-class>net.springfield.upload.UploadMultiple</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMultiple</servlet-name>
    <url-pattern>/UploadMultiple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayResults</display-name>
    <servlet-name>DisplayResults</servlet-name>
    <servlet-class>net.springfield.upload.DisplayResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayResults</servlet-name>
    <url-pattern>/DisplayResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProgress</display-name>
    <servlet-name>GetProgress</servlet-name>
    <servlet-class>net.springfield.upload.GetProgress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProgress</servlet-name>
    <url-pattern>/GetProgress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRules</display-name>
    <servlet-name>EditRules</servlet-name>
    <servlet-class>net.springfield.upload.EditRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRules</servlet-name>
    <url-pattern>/EditRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRules</display-name>
    <servlet-name>ChangeRules</servlet-name>
    <servlet-class>net.springfield.upload.ChangeRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRules</servlet-name>
    <url-pattern>/ChangeRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reprocess</display-name>
    <servlet-name>Reprocess</servlet-name>
    <servlet-class>net.springfield.upload.Reprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reprocess</servlet-name>
    <url-pattern>/Reprocess</url-pattern>
  </servlet-mapping>
</web-app>